@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #f7f9fb;
  margin: 30px; /*jrk tulisan dlm kotak*/
  color: #222;
}

h1 {
  margin-bottom: 30px;
  margin-left: 100px;
}

.card {
  background: white;
  padding: 25px; /*ruang agar teks tidak mepet ke dalam kotak*/
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 80%;
  margin: 20px auto;
}

.alert {
  background: #dff3f0;
  border-left: 5px solid #3dbca5;
  padding: 12px 20px;
  border-radius: 6px;
  position: relative; 
}
.alert .close-btn {
  position: absolute; 
  top: 10px;
  right: 15px;
  cursor: pointer; /* merubah kursor menjadi tangan*/
  font-size: 18px; /* ukuran font*/
}

.profile-card {
  position: relative; /* biar poto nya pindah k atas*/
  text-align: center;
  width: 200px;
  margin: 20px auto;
  padding: 25px 15px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.profile-card img {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover; /* memenuhi item didalam nya*/
}

.profile-card .badge {
  position: absolute; /* biar bisa masuk ke ruang yg ditinggalkan oleh relatif*/
  bottom: 140px;  
  left: 50%;
  transform: translateX(25px); 
  /* mengubah posisi elemen,
   geser elemen secara horizontal */
  width: 20px;
  height: 20px;
  background: #22c55e;
  border: 2px solid white;
  border-radius: 50%;
}

.box {
  background: #f9f9f9;
  text-align: center;
  place-content: center; /* ngesejajarin konten/isi ke tengah*/
  place-items: center; /*ketengahin baris*/
  height: 290px;
  width: 250px;
  border: 2px solid #eee;
  border-radius: 6px;
}
.flexbox-area{
  /*  kyk iniline gitu, dia horizontal sejajar lurus ama yg lain */
  display: flex; 
    /*ngatur arah susunan item dr kiri k kanan*/
  flex-direction: row; 
  /* atur jarak antar item*/
  gap: 12px;
  /* atur posisi horizontal */
  justify-content: center;
  /* atur penempatan item */
  align-items: center;
}
.pro-blue{
  border: 2px solid red;
  width: 250px;
  height: 300px;
}

.price-card h4 {
  color: #007bff;
}

.price-card h2 {
  font-size: 36px;
  margin: 10px 0;
}

.btn {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s; /* bikin perubahan bentuk jadi halus selama 0.3 detik. */
}

.btn.basic {
  background: #007bff;
}

.btn.pro {
  background: #ff5b4d;
}

.btn.business {
  background: #22c55e;
}

.btn:hover {
  opacity: 0.9; /*Mengatur tingkat transparansi*/
  transform: scale(1.05); /*Mengubah ukuran elemen*/
}
